// Custom variables
$base-color: #465966;
$active-color: lighten($base-color, 10%);

$base-gradient: 'flat';
$tabs-dark: $base-color; //darken($base-color, 20%);
$tabs-dark-active-color: $base-color; //saturate($active-color, 20%);
$button-radius: '0px';
//$tabs-bottom-active-gradient: 'flat';

$list-pressed-color: lighten($active-color, 25%);

$font-family: 'Open Sans', sans-serif !important;

@import 'sencha-touch/default/all';

// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;
@include sencha-loading-spinner;

// Your custom code goes here...
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

//.x-tab-active {
//  border-radius: 0 !important;
//}

// Enlarge button height for mobile devices
@media only screen
and (min-device-width : 320px)
and (max-device-width : 768px)
{
  .x-button {
    height: 44px;
  }
}
